.blog-post-card {
    display: flex;
    flex-direction: column;
    height: 100%; 
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    background-color: #fff;
  }
  
  .blog-post-card:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transform: translateY(-5px);
  }
  
  .blog-post-card-image {
    width: 100%;
    height: auto;
  }
  
  .blog-post-card-content {
    flex: 1; 
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .blog-post-card h3 {
    margin: 20px; 
  }
  
  .blog-post-card p {
    margin: 0 0 10px 0; 
  }
  
  .read-more-button {
    align-self: center; 
    margin-top: auto; 
    padding: 10px 20px;
    background-color: #2E4053;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .read-more-button:hover {
    background-color: #394867;
  }
  